.main-description {
  display: grid;
  grid-template-columns: auto auto;
}

.description-text {
  padding: var(--content-padding);
}

img {
  width: 15em;
  height: 15em;
  padding: var(--content-padding);
  border-radius: 50%;
}

h1 {
  color: var(--primary-color);
}
